/*Все параметры отображения тегов, на которые влияет CSS, задаются с помощью свойств в */
/*следующем формате: свойство: значение;*/
/*Например:*/
/*color: red;    !* красный цвет текста *!*/
/*padding: 10px; !* внутренний отступ размером 10 пикселей *!*/

/*селектор {*/
/*  свойство: значение;*/
/*  свойство: значение;*/
/*}*/

/*p { color: red; }*/

/* списка навыков есть класс skills-item. То есть нам достаточно выбрать теги с этим классом. */
/* И для этого есть специальный селектор, селектор по классу, например:*/

/*.feature-kitten {…}*/
.skills-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 10px solid #c4c4c4;
  color: #999999;
}
/*Используем два класса*/
/*На самом деле у HTML-элемента может быть сколько угодно классов, в этом случае они перечисляются */
/*в атрибуте class через пробел, например:*/
{
    < li class = "product" > Товар < / li >
    < li class = "product hit" > Товар, а ещё хит продаж < / li >
    < li class = "product hit sale" > Товар, хит продаж и со ски-и-идкой ! < / li >
}
/*Чтобы задать всем товарам один цвет фона, а хитам другой, можно сделать так:*/
.product {
  …                         /* общие размеры и отступы */
  background-color: gray;   /* серый фон по умолчанию */
}

.hit {
  background-color: yellow; /* жёлтый фон у хитов */
}